{% load cms_tags menu_tags sekizai_tags %}
{% load static %}

<!DOCTYPE html>
<html class="sticky-header-reveal">
<head>
    <meta charset="utf-8">
    {#    <title>Jet.Law</title>#}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Master - Responsive HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">

    <!-- Libs CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/font-awesome/css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/font-awesome/css/fontawesome.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/streamline-icon/css/streamline-icon.css' %}" rel="stylesheet"/>
    <link href="{% static 'vendor/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/header-new.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/shortcodes.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/utilities.css' %}" rel="stylesheet"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110371742-2"></script>


    <!-- Interom -->
    <script>
        window.intercomSettings = {
            app_id: "ghmcxr68"
        };
    </script>
    <script>(function () {
        var w = window;
        var ic = w.Intercom;
        if (typeof ic === "function") {
            ic('reattach_activator');
            ic('update', w.intercomSettings);
        } else {
            var d = document;
            var i = function () {
                i.c(arguments);
            };
            i.q = [];
            i.c = function (args) {
                i.q.push(args);
            };
            w.Intercom = i;
            var l = function () {
                var s = d.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://widget.intercom.io/widget/ghmcxr68';
                var x = d.getElementsByTagName('script')[0];
                x.parentNode.insertBefore(s, x);
            };
            if (w.attachEvent) {
                w.attachEvent('onload', l);
            } else {
                w.addEventListener('load', l, false);
            }
        }
    })();</script>
    <!-- Interom -->
    <!-- Fullstory -->
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'fullstory.com';
        window['_fs_org'] = 'HNDMJ';
        window['_fs_namespace'] = 'FS';
        (function (m, n, e, t, l, o, g, y) {
            if (e in m) {
                if (m.console && m.console.log) {
                    m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].');
                }
                return;
            }
            g = m[e] = function (a, b, s) {
                g.q ? g.q.push([a, b, s]) : g._api(a, b, s);
            };
            g.q = [];
            o = n.createElement(t);
            o.async = 1;
            o.src = 'https://' + _fs_host + '/s/fs.js';
            y = n.getElementsByTagName(t)[0];
            y.parentNode.insertBefore(o, y);
            g.identify = function (i, v, s) {
                g(l, {uid: i}, s);
                if (v)g(l, v, s)
            };
            g.setUserVars = function (v, s) {
                g(l, v, s)
            };
            g.event = function (i, v, s) {
                g('event', {n: i, p: v}, s)
            };
            g.shutdown = function () {
                g("rec", !1)
            };
            g.restart = function () {
                g("rec", !0)
            };
            g.consent = function (a) {
                g("consent", !arguments.length || a)
            };
            g.identifyAccount = function (i, v) {
                o = 'account';
                v = v || {};
                v.acctId = i;
                g(o, v)
            };
            g.clearUserCookie = function () {
            };
        })(window, document, window['_fs_namespace'], 'script', 'user');
    </script>
    <!-- Fullstory -->


    <!-- Segment -->
    <script>
        !function () {
            var analytics = window.analytics = window.analytics || [];
            if (!analytics.initialize)if (analytics.invoked)window.console && console.error && console.error("Segment snippet included twice."); else {
                analytics.invoked = !0;
                analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"];
                analytics.factory = function (t) {
                    return function () {
                        var e = Array.prototype.slice.call(arguments);
                        e.unshift(t);
                        analytics.push(e);
                        return analytics
                    }
                };
                for (var t = 0; t < analytics.methods.length; t++) {
                    var e = analytics.methods[t];
                    analytics[e] = analytics.factory(e)
                }
                analytics.load = function (t, e) {
                    var n = document.createElement("script");
                    n.type = "text/javascript";
                    n.async = !0;
                    n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js";
                    var a = document.getElementsByTagName("script")[0];
                    a.parentNode.insertBefore(n, a);
                    analytics._loadOptions = e
                };
                analytics.SNIPPET_VERSION = "4.1.0";
                analytics.load("rwiWh157aI78dYf3X3aaytBBujYVxG3n");
                analytics.page();
            }
        }();
    </script>
    <!-- Segment -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110371742-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-110371742-2');

        ga('require', 'linkid');

        gtag('config', 'AW-804301572');

    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->


    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-110371742-2');
    </script>

    <!-- Skin -->
    <link rel="stylesheet" href="{% static 'css/skin/default.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
</head>
{% cms_toolbar %}
<body>

<div class="wrapper">

    <!--Header-->
    {% include 'common/header.html' %}
    <!--End Header-->

    <main class="main-content">
        {% block top_banner %}
            {% include 'common/top_banner.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>

    <!-- FOOTER -->
    {% include 'common/footer.html' %}
    <!-- END FOOTER -->
</div>

<!-- Libs -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.visible.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
<script src="{% static 'js/cubeportfolio.init.js' %}"></script>
<script src="{% static 'vendor/slick-slider/slick.js' %}"></script>
<script src="{% static 'js/prism.js' %}"></script>

<script src="{% static 'js/page.js' %}"></script>
<script src="{% static 'js/other.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<!-- Theme Custom -->
<script src="{% static 'js/custom.js' %}"></script>
<script>
    $(".header-btn-collapse-nav").click(function () {

        if ($('.collapse').hasClass('show')) {
            $('.collapse').removeClass('show');
            $(this).attr('aria-expanded', false);

            if ($(this).attr('data-toggle') == 'collapse') {
                $('.header-btn-collapse-nav').attr('data-toggle', 'collapse1');
                var collapse = setInterval(collapseH, 200);

                function collapseH() {
                    $('.header-btn-collapse-nav').attr('data-toggle', 'collapse');
                    clearInterval(collapse);
                }

            } else {
                $('.header-btn-collapse-nav').attr('data-toggle', 'collapse');
            }
        }


    });
</script>


{% render_block "js" %}
</body>
</html>

