{% extends 'base.html' %}
{% load static %}
{% block top_banner %}{% endblock %}

{% block title %}jet.law-blog-detail{% endblock %}
{% block content %}

    <main class="main-content">
        <section data-scrim-top="9" class="bg-img m-gab-4-top m-gab-3-bottom"
                 style="background-image:url({% if blog.banner %} {{ blog.banner.url }} {% else %} {% static  'img/hero/h18.jpg' %} {% endif %});">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix pb-1 mt-3">

                            <h2 class="text-white font-weight-bold fs-50">
                                {{ blog.title }}
                            </h2>

                            <div class="d-flex align-items-center mb-5 mt-4">
                                <div class="avatar mr-4">
                                    <img class="img-fluid rounded-circle" src="{% if blog.image %} {{ blog.image.url }} {% else %}{{ "" }} %} {% endif %}"
                                         alt="Image Description">
                                </div>
                                <div class="mr-7">
                                    <div class="text-white-50">Author</div>
                                    <a href="#" class="underline text-white" tabindex="0">{{ blog.user.username }}</a>
                                </div>
                                {#                                    <div class="mr-7">#}
                                {#                                        <div class="text-white-50">Comments</div>#}
                                {#                                        <a href="#comments" class="underline text-white" tabindex="0">3 Comments </a> <span class="icon-arrow-right ml-1 text-white"></span>#}
                                {#                                    </div>#}
                                <div class="mr-7">
                                    <div class="text-white-50">Published</div>
                                    <a href="#" class="underline text-white" tabindex="0">{{ blog.published_at }}</a>
                                </div>
                                <div class="">
                                    <div class="text-white-50">Updated</div>
                                    <a href="#" class="underline text-white" tabindex="0">{{ blog.updated_at }}</a>
                                </div>
                            </div>

                            <div>
                                {% for tag in blog.tags.all %}
                                    <a href="#" class="label label--sm label--light mb-2">{{ tag }}</a>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="oval-divider--bottom oval-divider--10"></div>
        </section>

        <section id="read-all" class="section pt-9">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <p>
                            {{ blog.content  }}
                        <div style="width: 348px;margin: 5px 30px 5px 0;" class="float-left">
                            <img class="mb-2 rounded" src="{% if blog.image %} {{ blog.image.url }} {% else %}{{ "" }} %} {% endif %}" alt="">
                        </div>

                        <div class="clearfix mt-9 mb-9">
                            <div class="media mb-4">
                                <div class="w-15 mr-4">
{#                                    <img class="pi-img-round" src="{% if blog.image %} {{ blog.image.url }} {% else %}{{ "" }} %} {% endif %}"/>#}
                                </div>
                                <div class="media-body">
                                    <a class="text-dark anim-link-2 clearfix h5" href="#">{{ blog.user.username }}</a>
                                    <p class="mt-2">
                                        {{ blog.short_description }}
                                    </p>

                                    <div class="social social-brand">
                                        <a target="_blank" class="social-facebook" href="https://www.facebook.com/thejet.law/"><i class="fab fa-facebook"></i></a>
{#                                        <a class="social-twitter" href="#"><i class="fab fa-twitter"></i></a>#}
{#                                        <a class="social-gplus" href="#"><i class="fab fa-google-plus"></i></a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="comments" class="clearfix mb-9 pt-9">
                            <h3 class="h5 mb-3">Comments</h3>
                            <ul class="media-list m-0 p-0">
                                {% for comment in comments %}
                                    <li class="media mt-5">
                                        <div class="media-body">
                                            <h4 class="h6 mb-1">{{ comment.user.username }} <span
                                                    class="small ml-2 text-muted">{{ comment.created_at }}</span></h4>
                                            <p class="mb-1">
                                                {{ comment.content }}
                                            </p>

                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="clearfix pt-7 mb-6 mb-lg-0">
                            <h3 class="h5 mb-5">Leave a comment</h3>

                            <form action="{% url 'blogs:blog-comment' slug=blog.slug %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label>Comment <span class="required">*</span></label>
                                            <textarea name="comment" id="comment" maxlength="5000" rows="7"
                                                      placeholder="Comment" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button name="submit" type="submit" id="Button1"
                                                class="btn btn-primary transition-hover">Post Comment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mb-9">
                            <div class="clearfix d-flex">
                                <div class="media align-items-center w-50">
                                    <div class="mr-1">
                                        <a target="_blank" href="https://www.facebook.com/thejet.law/" class="btn btn-facebook btn-sm pl-3 pr-3"><i
                                                class="fab fa-facebook"></i></a>
                                    </div>
                                    <div class="media-body line-height-1">
                                        <a class="text-dark clearfix" target="_blank" href="https://www.facebook.com/thejet.law/">Follow</a>
                                        <span class="time small text-muted">on Facebook</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
