{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute page_title %}{% endblock %}

{% block content %}




        <main class="main-content">
        <section id="read-all" class="section pt-9">
            <div class="container">
                <div class="row">
                    <h2 style="font-weight: bold"> {% placeholder "title" %}</h2>

                    <div class="col-lg-8" style="margin-top: 35px">
                        <p class="detail-font">
                           {% placeholder 'top_content' %}
                        </p>

                    </div>

                    <div class="col-lg-4" style="margin-top: 35px">

                        <iframe width="370" height="230" src="https://www.youtube.com/embed/gSkhVe7qWAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{#                        {% placeholder video_url %}#}
                    </div>
                    <div class="col-lg-12">
                        {% placeholder 'bottom_content' %}
                    </div>
                </div>
            </div>

        </section>
    </main>

{% endblock content %}
