{% load static %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
<script src="{% static 'js/page.js' %}"></script>
<footer class="border-top border-bottom">
    <div class="container m-gab-2">
        <div class="row">
            <div class="col-sm-6 col-md-2 mb-5 mb-lg-2">
                <h3 class="h5">
                    <strong>Services</strong>
                </h3>
                <ul class="list-unstyled mb-0">

                    <li><a href="/flsa-claims-attorney-florida.html" class="m-list--link">FLSA Defense</a></li>
                    <li><a class="m-list--link" href="/discrimination-attorney-florida.html/">Title VII Defense</a></li>
                    <li><a class="m-list--link" href="/flsa-employment-attorney-florida.html/">FMLA, ADA Defense</a></li>
                    <li><a class="m-list--link" href="/fixed-fee-employment-contracts.html/">Fixed Rate Services</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2 mb-5 mb-lg-2">

                <ul class="list-unstyled mb-0">
                    <li>
                        <div style="height: 100px;"
                             data-provide="map"
                             data-lat="28.581658"
                             data-lng="-81.197226"
                             data-marker-lat="28.581658"
                             data-marker-lng="-81.197226"
                             data-info="12249 Science Drive Suite 155 Orlando, FL 32826"></div>


                    </li>
                    <li><p>jet.law<br>
                        ​12249 Science Drive<br>
                        Suite 155<br>
                        Orlando, FL 32826</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 mb-5 mb-lg-3">
                <h3 class="h5">
                    <strong>About</strong>
                </h3>
                <p>
                    <a href="#">jet dot law</a>, <a href="#">PLLC</a> is a full service law firm under the laws of
                    Florida, committed to helping small
                    and mid sized businesses. jet dot law, PLLC is a law firm powered by the technology company,
                    CaseGuide, Inc.
                </p>
                <h5>Phone: (407) 494-0135</h5>

            </div>
            <div class="col-sm-6 col-md-5 mb-5 mb-lg-5">
                <h3 class="h5">
                    <strong>Free Small Business Law Newsletter</strong>
                </h3>
                <form method="post" class="input-line" action="{% url 'webapp:subscribe' %}"
                      method="POST">{% csrf_token %}
                    <div class="g-recaptcha" data-sitekey="6LdZeq8UAAAAAKpO4MZzUsIrhdIFKlyM3isLX3UG"></div>
                    <div class="contact-form-success alert alert-success d-none">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>
                    <div class="contact-form-error alert alert-danger d-none">
                        <strong>Error!</strong> There was an error sending your message.
                        <span class="mail-error-message d-block"></span>
                    </div>

                    <div class="form-row">
                        <div class="form-group input-group col-md-12">
                            <input type="email" value="" data-msg-required="Please enter your email address."
                                   data-msg-email="Please enter a valid email address." maxlength="100"
                                   class="form-control" name="email" id="email_sub" placeholder="EMAIL"
                                   required="required">
                        </div>
                        <div class="form-group input-group col-md-12">
                            <input name="url" id="url" type="hidden" value="{{ request.path }}"
                                   data-msg-email="Please enter a valid email address." maxlength="100"
                                   class="form-control"
                            >
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            <input type="submit" value="SUBSCRIBE TO NEWSLETTER" id="email_sub_button"
                                   class="btn btn-primary btn-block transition-hover"
                                   data-loading-text="Loading...">
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="container m-gab-1" style="margin-top: -100px;">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline mb-0 text-center text-lg-left">
                    <li class="list-inline-item"><a class="m-list--link" href="#"><i
                            class="icon-headphone fs-17 text-primary mr-1"></i>(407) 494-0135 </a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-0 text-lg-right text-center">
                    <li class="list-inline-item"><a class="m-list--link" href="#">© Jet.Law 2019</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container m-gab-1" style="margin-top: -50px;">
        <div class="row">
            <div class="col-12">
                <p class="text-center">jet dot law, PLLC is not a place of public accommodation. Consultations are on an
                    appointment basis only.</p>
            </div>
        </div>

    </div>
    <!-- End Copyright -->
</footer>