{% load cms_tags menu_tags sekizai_tags staticfiles %}
{% load static %}
{#        <header id="header" class="header-effect-reveal" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 150}">#}
{#            <div class="header-body">#}
{#                <div class="header-container container">#}
{#                    <div class="header-row">#}
{#                        <div class="header-column">#}
{#                            <div class="header-row">#}
{#                                <div class="header-logo">#}
{#                                    <a style="color: #a9e4f8" href="#">#}
{#                                        Jet.Law | (407) 494-0135#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="header-column justify-content-end">#}
{#                            <div class="header-row pt-2">#}
{#                            </div>#}
{#                            <div class="header-row">#}
{##}
{#                                <div class="header-nav header-nav-links order-2 order-lg-1">#}
{#                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">#}
{#                                        {% show_menu 0 10 10 10 "menu/custom-menu.html" %}#}
{#                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">#}
{#                                        <i class="fas fa-bars"></i>#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
{#        </header>#}


        <header id="header" class="header-effect-reveal" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 150, 'stickySetTop': '-50px'}">
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a style="color: #a9e4f8" href="#">
                                        Jet.Law | (407) 494-0135
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-links order-2 order-lg-1">
                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        {% show_menu 0 10 10 10 "menu/custom-menu.html" %}
                                    </div>
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                        <i class="fas fa-bars"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
