{% load static %}
            <section data-overlay="3" class="vertical-center" style="background-image:url({%  static 'img/hero/h3.jpg' %}); background-size:cover; min-height:625px">
                <div class="container">
                    <div class="row align-items-center mnt-6">
                        <div class="col-md-8">
                            <div class="clearfix">
                                <h2 class="text-white fs-52">
                                    Engineering a better <br> law firm
{#                                    Working together to  <br />make work better#}
                                </h2>
                                <p class="text-white mt-3 mb-4">
                                   jet.law  |  Defending against employee lawsuits using state of the art technology
{#                                    <span class="label label--sm label--light">free</span> to use#}
{#                                    invoice builder.#}
                                </p>
                                <a href="{% url 'webapp:contact' %}" class="btn btn-outline-light pl-5 pr-5">
                                   CONTACT EMPLOYMENT ATTORNEY
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a href="https://www.youtube.com/watch?v=gSkhVe7qWAA" class="m-video-link" data-provide="lightbox">
                                <div class="m-video-link--icon"><i class="fas fa-play"></i></div>
                                <div class="m-video-link--text text-white">
                                    <div>Watch</div>
                                    <div class="font-weight-bold">INTRO VIDEO</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="oval-divider--bottom oval-divider--10"></div>
            </section>